<div class="row">
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleDefaultAccordions">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--default" [closeOthers]="true">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel iconClass="fa flaticon-placeholder" title="Remaining essentially unchanged">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleBorderedAccordions">
			<div class="m-section">
				<span class="m-section__sub">
				</span>
				<div class="m-section__content">

					<m-accordion-control class="m-accordion--bordered" [closeOthers]="true">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel iconClass="fa flaticon-placeholder" title="Remaining essentially unchanged">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>

				</div>
			</div>
		</m-material-preview>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleBorderlessSolidBackgroundAccordions">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--default m-accordion--solid">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel iconClass="fa flaticon-placeholder" title="Remaining essentially unchanged">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleBorderedSolidBackgroundAccordions">
			<div class="m-section">
				<span class="m-section__sub">
				</span>
				<div class="m-section__content">

					<m-accordion-control class="m-accordion--bordered m-accordion--solid">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel iconClass="fa flaticon-placeholder" title="Remaining essentially unchanged">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>

				</div>
			</div>
		</m-material-preview>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleDefaultStateAccordionExamples">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--default m-accordion--toggle-arrow">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok" type="danger">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Remaining essentially unchanged" iconClass="fa flaticon-placeholder" type="info">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2" type="brand">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleBorderedStateAccordionExamples">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--bordered">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok" type="focus">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Remaining essentially unchanged" iconClass="fa flaticon-placeholder" type="success">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2" type="primary">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleDefaultSolidBackgroundAccordions">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Remaining essentially unchanged" iconClass="fa flaticon-placeholder">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
	<div class="col-lg-6">
		<m-material-preview [viewItem]="exampleDefaultSolidBackgroundSecondAccordions">
			<div class="m-section">
				<div class="m-section__content">
					<m-accordion-control class="m-accordion--default m-accordion--solid m-accordion--section">
						<m-accordion-control-panel title="Lorem Ipsum has been the industry's standard" iconClass="fa flaticon-user-ok">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Remaining essentially unchanged" iconClass="fa flaticon-placeholder">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								
							</ng-template>
						</m-accordion-control-panel>
						<m-accordion-control-panel title="Galley of type and scrambled" iconClass="fa flaticon-alert-2">
							<ng-template AccordionControlPanelContent>
								Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
								
							</ng-template>
						</m-accordion-control-panel>
					</m-accordion-control>
				</div>
			</div>
		</m-material-preview>
	</div>
</div>